@model StoreManagement.Data.Entities.Customer
@{ ViewData["Title"] = "Xóa khách hàng"; }

<h2>Xóa khách hàng</h2>
<div class="alert alert-danger">
    <h4>Bạn có chắc chắn muốn xóa khách hàng này?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Tên:</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">SĐT:</dt>
        <dd class="col-sm-9">@Model.Phone</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CustomerId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
