@model StoreManagement.Data.Entities.Customer
@{ ViewData["Title"] = "Sửa khách hàng"; }

<h2>Sửa thông tin khách hàng</h2>
<div class="card shadow">
    <div class="card-body">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CustomerId" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Tên khách hàng</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="Phone" class="form-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                 <input asp-for="Email" class="form-control" />
                 <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Address" class="form-label">Địa chỉ</label>
                <textarea asp-for="Address" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            <a asp-action="Index" class="btn btn-secondary">Hủy</a>
        </form>
    </div>
</div>
